<div class="card">
  <div class="card-header bg-dark">
    <div *ngIf="isAuthorized==false"
         class="d-block "> ZALOGUJ SIĘ </div>
    <div *ngIf="isAuthorized==true"
         class="d-block "> JESTEŚ ZALOGOWANY </div>
  </div>
  <!-- <div class="d-block "> {{email}} </div> -->
  <form [formGroup]="userForm">
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 col-form-label">E-mail</label>
      <input type="email"
             class="form-control"
             id="exampleInputEmail1"
             aria-describedby="emailHelp"
             formControlName="email">
      <small id="emailHelp"
             class="form-text text-muted col-sm-2 col-form-label">przykład@gmail.com.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Hasło</label>
      <input type="password"
             class="form-control"
             id="exampleInputPassword1"
             formControlName="password">
    </div>
    <button type="submit"
            class="btn btn-dark"
            (click)="onLogin()">Zaloguj się</button>
    <button type="button"
            class="btn btn-dark"
            (click)="onAddUser()">Zarejestruj się</button>

  </form>
</div>