<div class="card">
  <div class="card-header bg-dark">
    {{pageTitle}}
    <!-- <button type="button" class="btn btn-dark" (click)="onAddUser()">Zarejestruj się</button> -->
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-dark"></th>
        <th class="text-dark">E-mail</th>
        <th class="text-dark">Hasło</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>

        </td>
        <td><a>
            {{ user.email }}
          </a>
        </td>
        <td><a>
            {{ user.password }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>