<rating [(ngModel)]="rateRecipeValue"
        [max]="max"
        [titles]="['one','two','three']">
</rating>
<div class="d-block p-2">
        <button class="btn btn-dark"
                (click)="onAddRating()">Zagłosuj</button>
</div>