<div class="card">
    <div class="card-header bg-dark">
        {{pageTitle}}
        <button type="button"
                class="flex-row-reverse btn btn-dark"
                (click)="onAddRecipe()">Dodaj przepis</button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="row-md-2">Wyszukaj po nazwie:</div>
            <div class="col-md-4">
                <input type="text"
                       [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>{{listFilter}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="row-md-2">Wyszukaj po składniku:</div>
            <div class="col-md-4">
                <input type="text"
                       [(ngModel)]="searchRecipe" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>{{searchRecipe}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-dark">Nazwa przepisu</th>
                        <th class="text-dark">Ocena</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recipe of recipes">
                        <td>
                            <img src="assets/images/{{recipe.recipeId}}.jpg"
                                 title="{{recipe.name}}"
                                 style.width.px="{{imageWidth}}"
                                 style.margin.px="{{imageMargin}}">
                        </td>

                        <td><a (click)='openRecipeDetailsModal(recipe.recipeId)'>
                                {{ recipe.name }}
                            </a>

                        </td>
                        <td>
                            <pm-star rating="{{recipe.starRating}}"></pm-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>