<div class="modal-content">
    <div class="modal-header bg-dark">
        <h4 class="modal-title pull-left">
            <div class='col-md-12'>{{model.recipeName}}</div>
        </h4>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="imgResponsive">
                <img src="assets/images/{{model.recipeId}}.jpg">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4'>Ocena:</div>
            <div class='col-md-8'><pm-star rating="{{model.starRating}}"></pm-star></div>
        </div>
        <div class='row'>
            <div class='col-md-4'>Składniki:</div>
            <div class='col-md-8'>
                <li *ngFor="let ingredient of model.ingredients">{{ingredient.name}} ({{ingredient.quantity}})</li>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4'>Przepis:</div>
            <div class='col-md-8'>{{model.description}}</div>
        </div>
        <div class='row'>
            <div class='col-md-4'>Oceń:</div>
            <div class='col-md-8'><pm-rating [rateRecipeId]="model.recipeId"></pm-rating></div>
        </div>
    </div>
</div>