<header>
  <!-- MOBILE -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"
       href="#top">
      {{pageTitle}}
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- NORMAL -->
    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/recipes']"
             href="#">Przepisy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/users']"
             href="#">Użytkownicy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/login']"
             href="#">Zaloguj się</a>
        </li>

      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <div class="card border-0 shadow my-5"> 
      <router-outlet></router-outlet>
  </div>
</div>

  <footer class="container-fluid fixed-bottom">
    <h4>Design by: Mateusz Walczyk</h4>
  </footer>