<div class="modal-content">
  <div class="modal-header bg-dark">
    <a class="text-white">Rejestracja</a>
        <h4 class="modal-title pull-left">
            <div class='col-md-12'></div>
        </h4>
        <button type="button"
                class="close pull-right text-white"
                aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
          <div class="form-group row">
            <label class="col-sm-2">
              Email:
            </label>
              <div class="col-sm-10">
              <input type="text" formControlName="email">
            
          </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">
              Hasło:
            </label>
              <div class="col-sm-10">
              <input type="text" formControlName="password">
            
          </div>
          </div>

          </form>
          <div *ngIf="validationErrors" class="d-block p-2 text-danger">
            {{validationErrors}}
        </div>
          <div class="d-block p-2">
              <button class="btn btn-dark col-sm-12" (click)="onSubmit()">Zarejestruj się</button>
          </div>
    </div>
</div>