.row {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
.col-md-4 {
    font-weight: 800;
}
.modal-title {
    margin-left: 15px;
}
.modal-header {
    background-color: rgba(0,0,0,.03);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.modal-body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.imgResponsive{
    text-align: center;
    width: 100%;
}
img {
    
    background-size: contain;
    max-width: 100%;
    height: 200px;
    margin-left: 5;
    margin-right: 5;
}