/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  height: 100%;
  background: url('assets/images/strona_main_2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 0px;
  border-width: 2px;
  border-color: #343a40;
}

.table {
  margin-top: 10px;
}

/* persponsive websites with bootstrap */

.bg-theme {
  background: url('assets/images/strona_main.jpg') no-repeat center center fixed;

  height: 100%;
}

aside {
  background-color: f7f7f7;
  text-align: center;
  padding-top: 40px;
}

.range-list{
  padding-bottom:40px;
  padding-top:40px;
}

.range-list h4 {
  margin-bottom: 40px;
  font-weight: bold;
}

.user-menu {
  background-color: #343a40;
  padding-bottom: 40px;
}

.user-menu a{
  color: white;
}

footer {
  flex-shrink: none;
  position: absolute;
  bottom: 0;
  background-color: #333;
  color: #ddd;
  padding: 10px;
  text-align: center;
}

.card-header {
  color: #fff;
}

