<div class="modal-content">
    <div class="modal-header bg-dark">
        <a class="text-white">Dodawanie przepisu</a>
        <h4 class="modal-title pull-left">
            <div class='col-md-12'></div>
        </h4>
        <button type="button"
                class="close pull-right text-white"
                aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="recipeForm">

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="inputGroup-sizing-sm">Nazwa przepisu</span>
                </div>
                <input type="text"
                       class="form-control"
                       formControlName="name"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
            </div>


            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="inputGroup-sizing-sm">Receptura przepisu</span>
                </div>
                <input type="text"
                       class="form-control"
                       formControlName="description"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
            </div>

        </form>
        <div class="d-block p-2">
            <button class="btn btn-dark"
                    (click)="onAddIngredients()">Dodaj składnik</button>
        </div>
        <form [formGroup]="item"
              *ngFor="let item of ingredientsFormArray">

              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="inputGroup-sizing-sm">Nazwa składnika</span>
                </div>
                <input type="text"
                       class="form-control"
                       formControlName="name"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="inputGroup-sizing-sm">Ilość składnika</span>
                </div>
                <input type="text"
                       class="form-control"
                       formControlName="quantity"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
            </div>

        </form>
        <div class="d-block p-2">
            <button class="btn btn-dark"
                    (click)="onSubmit()">Dodaj przepis</button>
        </div>
    </div>
</div>